body{ 
    margin: 0%;
}
#imagem {
    position: relative;
    height: 100vh;
    width: 100vw;
    /*adicionando imagem de fundo*/
    background: url(img/teleatendimento.jpg);
    background-size: cover;
}